/* Responsive Design */
@media (max-width: 1150px) {
    .hero {
        justify-content: space-between;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .cta-button {
        padding: 10px 25px;
    }

    .hero-link {
        font-size: 1rem;
    }

    .hero img {
        width: 20rem;
    }

    .service-grid {
        gap: 30px;
    }

    b {
        font-size: 1.3rem;
    }

    .services h1,
    .about h1 {
        font-size: 2.2rem;
    }

    .service-grid h2 {
        font-size: 1.15rem;
    }

    .about {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about .container {
        justify-content: space-between;
    }

    .about p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .about img {
        width: 45%;
    }

    .form-container {
        display: block;
        text-align: center;
    }

    form .form-img {
        display: none;
    }

    form .form-name {
        gap: 0;
        flex-direction: column;
    }

    .form-button {
        width: 40%;
    }

    form .form-primary-detail {
        text-align: left;
    }

    form .form-fname,
    form .form-other-details {
        width: 40%;
        margin: auto;
    }

    form .input-chkbx {
        text-align: left;
    }

    .formError {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 920px) {
    header {
        padding: 20px 0;
    }

    header .right-header {
        display: flex;
        align-items: center;
    }

    header .navigation {
        display: none;
        position: absolute;
        top: 75px;
        right: -250px;
        background: #d2eeff;
        box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 0 0 0 10px;
        z-index: 9;
        transition: right 0.3s ease;
    }

    .dark-mode header .navigation {
        background: #01252d;
    }

    header .navigation.active {
        display: flex;
        flex-direction: column;
        right: 0;
    }

    header .nav-links {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        padding: 0px 40px 15px;
    }

    header .right-header ul {
        gap: 25px;
    }

    header .hamburger-menu {
        display: block;
    }

    header .toggle-btn {
        font-size: 1.5rem;
    }

    .hero {
        justify-content: center;
        padding: 230px 10px;
    }

    .hero-content {
        display: flex;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        text-align: center;
        font-size: 1.2rem;
    }

    .hero img {
        display: none;
    }

    .services h1,
    .contact h1,
    .about h1 {
        font-size: 2.5rem;
    }

    .service-grid {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .service-item {
        max-width: 40%;
        margin: 10px 0;
    }

    .service-item p {
        max-width: 400px;
        line-height: 25px;
    }

    .about .container {
        justify-content: center;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text p {
        text-align: justify;
        max-width: 600px;
    }

    .about p {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .about img {
        display: none;
    }

    .form-container {
        margin-right: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form .form-fname,
    form .form-other-details {
        width: 140%;
    }

    form .input-chkbx {
        text-align: left;
    }

    .form-button {
        width: 150%;
    }

    .formError {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    form .popup {
        width: 250px;
        padding: 20px 30px 40px;
    }

    form .popup p {
        line-height: 1.5rem;
        padding-bottom: 5px;
    }
}

@media (max-width: 550px) {
    header {
        padding: 15px 0;
    }

    header .container svg {
        width: 120px;
    }

    header .right-header a {
        font-size: 1rem;
    }

    header .nav-links {
        display: none;
    }

    header .right-header .navigation {
        top: 55px;
    }

    .hero {
        padding: 220px 0;
    }

    .hero-content {
        gap: 20px;
    }

    .hero-content h1 {
        font-size: 1.7rem;
        text-align: center;
        margin: 0 20px;
    }

    .hero-content p {
        font-size: 0.9rem;
        max-width: 300px;
        margin: 0 20px;
    }

    .hero-btn {
        flex-direction: column;
        gap: 15px;
    }

    .cta-button {
        font-size: 0.8rem;
    }

    .hero-link {
        font-size: 0.9rem;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    b {
        margin: auto 20px;
    }

    .about h1 {
        font-size: 2rem;
    }

    .services h1,
    .contact h1 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .about {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about p {
        font-size: 1rem;
        line-height: 1.6rem;
        max-width: 500px;
    }

    .service-grid {
        margin: 30px;
    }

    .service-item {
        max-width: 250px;
    }

    .form-field {
        min-width: 20%;
        margin: 0 30px;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
    }

    form select {
        width: 110%;
    }

    .form-button {
        padding: 15px 20px;
        font-size: 0.9rem;
    }

    footer .footer-links {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .formError {
        font-size: 0.71rem;
    }

    form .popup {
        max-width: 200px;
        padding: 20px 20px 30px;
    }

    form .popup p {
        line-height: 1.5rem;
    }
}