/* Responsive Design */
@media (max-width: 1250px) {
    header .container {
        max-width: 80%;
    }
}

@media (max-width: 1150px) {
    .about p {
        margin-left: 50px;
        margin-right: 50px;
    }

    .about img {
        width: 80%;
    }

    .form-container {
        align-items: center;
        margin-left: -60px;
    }

    form img {
        width: 25rem;
        height: 27rem;
    }

    form .form-name {
        gap: 0;
        flex-direction: column;
    }

    form input,
    form textarea {
        width: 150%;
    }

    .form-button {
        width: 160%;
    }

    .formError {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 920px) {
    header {
        padding: 15px;
    }

    header .container svg {
        width: 200px;
        height: 80px;
    }

    .toggle-btn {
        font-size: 1.5rem;
    }

    .hero {
        padding: 250px 10px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .service-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        max-width: 100%;
        margin: 10px 0;
    }

    .service-item p {
        max-width: 400px;
        line-height: 25px;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .form-field {
        margin-left: -130px;
    }

    form img {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 230px 0;
    }

    .hero-content h1 {
        font-size: 1.6rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        max-width: 300px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    b {
        text-align: center;
        max-width: 300px;
    }

    .about h1 {
        font-size: 2rem;
    }

    .services h1,
    .contact h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .about p {
        font-size: 1rem;
        line-height: 1.5rem;
        min-width: 350px;
    }

    form input,
    form textarea {
        font-size: 0.9rem;
    }

    .form-button {
        padding: 15px 20px;
        font-size: 0.9rem;
    }
}